<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, user-scalable=yes">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ asset('assets/css/style.css') }}" rel="stylesheet">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.0.12/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.0.12/dist/js/select2.min.js"></script>
</head>
<body>

<div class="container">
    <div class="my-5"></div>
    <div class="row">
        <div class="col-md-6 form-group side-container">
            <div class="head">
                <h2>Offres</h2>
            </div>
            <div class="body">
                {% for offre in offres %}
                    <div class="d-flex col-12 offre-element">
                        <div class="p-2 media">
                            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6a/JavaScript-logo.png/600px-JavaScript-logo.png" alt="Generic placeholder image">
                        </div>
                        <div class="p-2 titles">
                            <h3>{{ offre.titre }}</h3>
                            <p class="type-contrat">Contrat en alternance (2 ans)</p>
                            <p class="more-infos">
                                Publié le {{ offre.crDate|date("d/m", "Europe/Paris") }} |
                                10 vues / 5 candidatures
                            </p>
                        </div>
                        <div class="ml-auto p-2 mt-auto">
                            <a href="{{ path('offres_remove', {'offre': offre.id}) }}"
                               class="btn button btn-sm">Supprimer</a>
                            <a href="{{ path('offres_edit', {'offre': offre.id}) }}"
                               class="btn button btn-sm">Modifier</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="foot">
                <a href="{{ path('offres_new') }}" class="btn btn-primary btn-lg square" role="button">Publier une nouvelle offre</a>
            </div>
        </div>
    </div>

</div>

</body>
</html>