<!DOCTYPE html>
<html lang="fr">
{% include('OffreBundle:Default:_head.html.twig') %}
<body>

<div class="container">
    <div class="my-5"></div>
    <div class="row">
        <div class="col-md-6 form-group side-container">
            <div class="head">
                <h2>Offres</h2>
            </div>
            <div class="body">
                {% for offre in offres %}
                    <div class="d-flex col-12 offre-element">
                        <div class="p-2 media">
                            {% if offre.imageName is null %}
                                <img src="{{ asset('assets/img/folder.jpg') }}" alt="Generic placeholder image">
                            {% else %}
                                <img src="{{ asset('offres/avatar/' ~ offre.imageName)}}" alt="Generic placeholder image">
                            {% endif %}
                        </div>
                        <div class="p-2 titles">
                            <h3>{{ offre.titre }}</h3>
                            <p class="type-contrat">Contrat en alternance (2 ans)</p>
                            <p class="more-infos">
                                Publié le {{ offre.crDate|date("d/m", "Europe/Paris") }} |
                                10 vues / 5 candidatures
                            </p>
                        </div>
                        <div class="ml-auto p-2 mt-auto">
                            <a href="{{ path('offres_remove', {'offre': offre.id}) }}"
                               class="btn button btn-sm">Supprimer</a>
                            <a href="{{ path('offres_edit', {'offre': offre.id}) }}"
                               class="btn button btn-sm">Modifier</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="foot">
                <a href="{{ path('offres_new') }}" class="btn btn-primary btn-lg square" role="button">Publier une nouvelle offre</a>
            </div>
        </div>
    </div>

</div>

</body>
</html>