{% extends '../layout.html.twig' %}

{% block 'body' %}

<h2>Vos offres publiées</h2>
<a href="{{ path('offres_new') }}" class="btn btn-primary btn-lg square" role="button">Publier une nouvelle offre</a>
<ul>
    {% for offre in offres %}
        <li>
            <div class="offre">
                <p class="small">
                    Publiée le {{ offre.crDate|date("d/m/Y", "Europe/Paris") }}
                    à {{ offre.crDate|date("H:i", "Europe/Paris") }}
                </p>
                <h3>{{ offre.titre }}</h3>
                <p>{{ offre.description }}</p>
                <p><b>Nombre de semaines : {{ offre.nbSemaine }}</b></p>
                <p><i>Nombre de vues : {{ offre.nbVue }}</i></p>
            </div>
        </li>
    {% endfor %}
</ul>

{% endblock %}