<!DOCTYPE html>
<html lang="fr">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Creative - Start Bootstrap Theme</title>

    <!-- Font Awesome Icons -->
    <link href="{{ asset('theme/vendor/fontawesome-free/css/all.min.css')}}" rel="stylesheet" type="text/css">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic' rel='stylesheet' type='text/css'>

    <!-- Plugin CSS -->
    <link href="{{ asset('theme/vendor/magnific-popup/magnific-popup.css') }}" rel="stylesheet">

    <!-- Theme CSS - Includes Bootstrap -->
    <link href="{{ asset('theme/css/creative.css') }}" rel="stylesheet">

    <link href="{{ asset('assets/css/style.css') }}" rel="stylesheet" type="text/css"/>
    <script src="{{ asset('theme/vendor/jquery/jquery.min.js')}}"></script>


</head>

<body id="page-top">
    {% block navigation %}
        <!-- Navigation -->
        <nav class="navbar navbar-expand-lg navbar-light fixed-top py-3 navbar-scrolled" id="mainNav">
            <div class="container">
                <a class="navbar-brand js-scroll-trigger" href={{ path('homepage') }}>Accueil</a>
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto my-2 my-lg-0">
                        {% if app.user and app.user.userEtudiant %}
                            <li class="nav-item"><a class="nav-link js-scroll-trigger" href={{ path('offres_index') }}>Les offres</a></li>
                            <li class="nav-item"><a class="nav-link js-scroll-trigger" href={{ path('candidatures_index') }}>Vos candidatures</a></li>
                            <li class="nav-item"><a class="nav-link js-scroll-trigger" href={{ path('workingforum_forum') }}>Le forum</a></li>
                            <li class="nav-item"><a class="nav-link js-scroll-trigger" href={{ path('editProfile') }} >Mon compte</a></li>
                            <li  class="nav-item"><a class="nav-link js-scroll-trigger" href="{{ path('fos_user_security_logout') }}">Déconnexion</a></li>
                        {% elseif app.user and app.user.userEntreprise %}
                            <li class="nav-item"><a class="nav-link js-scroll-trigger" href={{ path('offres_index') }}>Vos offres</a></li>
                            <li class="nav-item"><a class="nav-link js-scroll-trigger" href={{ path('candidatures_index') }}>Les candidatures</a></li>
                            <li class="nav-item"><a class="nav-link js-scroll-trigger" href={{ path('workingforum_forum') }}>Le forum</a></li>
                            <li class="nav-item"><a class="nav-link js-scroll-trigger" href={{ path('editProfile') }} >Mon compte</a></li>
                            <li  class="nav-item"><a class="nav-link js-scroll-trigger" href="{{ path('fos_user_security_logout') }}">Déconnexion</a></li>
                        {% else %}
                            <li class="nav-item"><a class="nav-link js-scroll-trigger" href="{{ path('fos_user_security_login') }}">Connexion</a></li>
                            <li class="nav-item"><a class="nav-link js-scroll-trigger" href="{{ path('new_Student') }}">Creer un compte étudiant</a></li>
                            <li class="nav-item"><a class="nav-link js-scroll-trigger" href="{{ path('new_Entreprise') }}">Creer un compte entreprise</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
    {% endblock %}

    <div class="container-fluid d-flex">
        {% block body %}

        {% endblock %}
    </div>

<!-- Footer -->
<footer class="bg-light py-5">
    <div class="container">
        <div class="small text-center text-muted">Copyright &copy; 2020 - ZACC Production</div>
    </div>
</footer>

<!-- Bootstrap core JavaScript -->
<script src="{{ asset('theme/vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>

<!-- Plugin JavaScript -->
<script src="{{ asset('theme/vendor/jquery-easing/jquery.easing.min.js')}}"></script>
<script src="{{ asset('theme/vendor/magnific-popup/jquery.magnific-popup.min.js')}}"></script>

<!-- Custom scripts for this template -->
<script src="{{ asset('theme/js/creative.min.js')}}"></script>

<script src="https://kit.fontawesome.com/0f9a6979f1.js" crossorigin="anonymous"></script>
<link href="https://cdn.jsdelivr.net/npm/select2@4.0.12/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/select2@4.0.12/dist/js/select2.min.js"></script>
<script src="{{ asset('assets/js/script.js') }}"></script>

</body>

</html>
