{{ form_start(formAccept) }}

<div class="form-inline">
{{ form_label(formAccept.dateMeeting) }}
{{ form_widget(formAccept.dateMeeting, {'attr': {'class': 'form-control datetimepicker ml-2'}}) }}
{{ form_errors(formAccept.dateMeeting) }}
</div>

{{ form_row(formAccept.submit, {attr : {class : 'btn btn-custom'}}) }}

{{ form_end(formAccept) }}