<div class="col-12 side-container">
    {{ form_start(form) }}

    <div class="head">
        <h2>{{ title_block }}</h2>
    </div>
    <div class="body">
        <div class="form-group col-12">
            {{ form_label(form.motivation) }}
            {{ form_widget(form.motivation, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.motivation) }}
        </div>
        <div class="form-group col-12">
            {{ form_label(form.file) }}
            <div class="file-send" style="display: none">
                {{ form_widget(form.file, {'attr': {'class': 'form-control custom-file-input'}}) }}
            </div>
            <div id="file-sender">
                <div class="d-flex mb-1">
                    {% if form.vars.value.fileName is null %}
                        <a href="#" class="btn btn-primary mr-3" id="add-file" style="height: 40px">Ajouter un fichier</a>
                        <p id="select-file" style="margin-top: 7px">Aucun fichier sélectionné</p>
                    {% else %}
                        <a href="#" class="btn btn-primary mr-3" id="add-file" style="height: 40px">Modifier le fichier</a>
                        <p id="select-file" style="margin-top: 7px">{{ form.vars.value.fileName }}</p>
                    {% endif %}
                </div>
                {% if form.vars.value.fileName is not null %}
                    <div class="d-flex" id="exist-file">
                        <a href="{{ asset('offres/file/' ~ form.vars.value.fileName)}}"
                           class="btn btn-outline-success mr-2" id="dl-file">Télécharger le fichier</a>
                        <a href="#" class="btn btn-outline-danger" id="suppr-file">Supprimer le fichier</a>
                    </div>
                {% endif %}
            </div>
            <div class="help-block">
                {{ form_errors(form.file) }}
            </div>
        </div>
    </div>

    <div class="foot">
        {{ form_row(form.submit, {attr : {class : 'btn btn-primary btn-lg square'}}) }}
    </div>

    {{ form_end(form) }}
</div>