{% extends 'base.html.twig' %}
{% block title %} {{ parent() }} {% endblock %}
{% block body %}

    <div class="col-md-6 col-12 mr-md-3 form-group">
        <div class="side-container">
            <div class="head">
                <h2>Candidatures</h2>
            </div>
            <div class="body">
                {% for candidature in candidatures %}
                    <div class="d-flex col-12 offre-element">
                        <div class="p-2 media">
                            {% if candidature.offre.imageName is null %}
                                <img src="{{ asset('assets/img/folder.jpg') }}">
                            {% else %}
                                <img src="{{ asset('offres/avatar/' ~ candidature.offre.imageName)}}">
                            {% endif %}
                        </div>
                        <div class="p-2 titles">
                            <h3>{{ candidature.offre.titre }}</h3>
                            <p class="type-contrat">{{ candidature.offre.typeContrat.titre }} ({{ candidature.offre.nbSemaine }} semaines)</p>
                            <p class="more-infos">
                                Candidaté le {{ candidature.datePostule|date("d/m", "Europe/Paris") }}
                                | {{ candidature.status }}
                            </p>
                        </div>
                        <div class="ml-auto p-2 mt-auto">
                            <a href="{{ path('candidature_show', {'candidature': candidature.id}) }}"
                               class="btn button btn-sm">Accéder</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="foot">
            </div>
        </div>
    </div>

    <div class="col-md-6 col-12 ml-md-3">
        <div class="side-container">
            <div class="head">
                <h3>Nos conseils</h3>
            </div>
            <div class="body mt-0 px-0 pt-0">
                <div class="w-100">
                    <img src="{{ asset('assets/img/advices/1.jpg') }}" alt="Conseils" class="img-fluid"/>
                </div>
                <div class="p-4 text-justify">
                    <h3>Gérer les candidatures</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias consequuntur corporis hic
                        laboriosam minus mollitia nisi, officiis pariatur perferendis praesentium quas,
                        tempora vero voluptatum. Architecto enim magni nihil provident tempora.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias consequuntur corporis hic
                        laboriosam minus mollitia nisi, officiis pariatur perferendis praesentium quas,
                        tempora vero voluptatum. Architecto enim magni nihil provident tempora.</p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}