<!DOCTYPE html>
<html lang="fr">
{% include('OffreBundle:Default:_head.html.twig') %}
<body>

<div class="container">
    <div class="row col-12">
        <div class="col-8">


            <div class="col-12 side-container">

                <div class="head">
                    <h2>Visualisation</h2>
                </div>
                <div class="body">
                    <div class="col-12 d-flex justify-content-between">
                        <div class="row">
                            <div class="img-icon">
                                {% if candidature.etudiant.userManager.imageName %}
                                    <img src="{{ asset('images/Avatar/' ~ candidature.etudiant.userManager.imageName) }}">
                                {% else %}
                                    <img src="{{ asset('assets/img/folder.jpg') }}">
                                {% endif %}
                            </div>
                            <div class="">
                                <h3>{{ candidature.offre.titre }}</h3>
                                <p>{{ candidature.offre.typeContrat.titre }} ({{ candidature.offre.nbSemaine }} semaines)</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="">
                                {{ candidature.etudiant.userManager.username }}
                            </div>
                            <div class="img-icon">
                                {% if candidature.offre.imageName %}
                                    <img src="{{ asset('offres/avatar/' ~ candidature.offre.imageName) }}">
                                {% else %}
                                    <img src="{{ asset('assets/img/folder.jpg') }}">
                                {% endif %}
                            </div>
                        </div>
                    </div>

                    <h4>Compétences</h4>
                    <div class="d-flex">
                        {% for competence in candidature.etudiant.userManager.competences %}
                            <button class="btn btn-custom">{{ competence.competences }}</button>
                        {% endfor %}
                    </div>

                    <h4>Motivations</h4>
                    <p>{{ candidature.motivation }}</p>

                    {% if candidature.response %}
                        <h4>Statut de candidatures</h4>
                        <p>{{ candidature.status }}</p>
                    {% else %}
                        <h4>Actions</h4>
                        <div class="col-12 row">
                            {% include 'OffreBundle:Candidatures:_accept.html.twig' %}
                        </div>
                        <div class="col-12 row">
                            {% include 'OffreBundle:Candidatures:_refuse.html.twig' %}
                        </div>
                    {% endif %}
                </div>

            </div>
        </div>
    </div>
</div>

</body>
</html>