<div class="row">
    <div class="col-md-6 form-group">
        <h2>Publication d'une offre teste</h2>

        {{ form_start(form) }}
        <div class="my-custom-class-for-errors">
            {{ form_errors(form) }}
        </div>

        <div class="row">
            <div class="col">
                {{ form_row(form.titre) }}
            </div>
            <div class="col">
                {{ form_row(form.description) }}
            </div>
            <div class="col">
                {{ form_row(form.nbSemaine) }}
            </div>
            <div class="col">
                {{ form_row(form.competences, {'attr' : {'class' : 'select2'}}  ) }}
            </div>
            <div class="col">
                {{ form_row(form.submit) }}
            </div>
        </div>
        {{ form_end(form) }}
    </div>
</div>