<div class="col-12 side-container">
    {{ form_start(form) }}

    <div class="head">
        <h2>{{ title_block }}</h2>
    </div>

    <div class="body">
        <div class="col">
            {{ form_row(form.titre) }}
        </div>
        <div class="col">
            {{ form_row(form.typeContrat) }}
        </div>
        <div class="col">
            {{ form_row(form.description) }}
        </div>
        <div class="col">
            {{ form_row(form.nbSemaine) }}
        </div>
        <div class="col">
            {{ form_row(form.competences, {'attr' : {'class' : 'select2'}}  ) }}
        </div>
        <div class="col">
            {{ form_row(form.submit) }}
        </div>
    </div>

    <div class="foot">
        {#<a href="{{ path('offres_new') }}" class="btn btn-primary btn-lg square" role="button">Publier une nouvelle offre</a>#}
        {{ form_row(form.submit, {attr : {class : 'btn btn-primary btn-lg square'}}) }}
    </div>

    {{ form_end(form) }}
</div>