<div class="col-12 side-container">
    {{ form_start(form) }}

    <div class="head">
        <h2>{{ title_block }}</h2>
    </div>

    <div class="body">
        <div class="col-12">
            <div class="col-6 px-0">

            </div>
            <div class="col-6 px-0">
                <div class="form-group">
                    {{ form_label(form.titre) }}
                    {{ form_widget(form.titre, {'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(form.titre) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.typeContrat) }}
                    {{ form_widget(form.typeContrat, {'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(form.typeContrat) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.nbSemaine) }}
                    {{ form_widget(form.nbSemaine, {'attr': {'class': 'form-control'}}) }}
                    <span class="errors">
                        {{ form_errors(form.nbSemaine, {'attr': {'class': 'error'}}) }}
                    </span>
                </div>
            </div>
        </div>
        <div class="col-12">
            {{ form_row(form.description) }}
        </div>

        <div class="col">
            {{ form_row(form.competences, {'attr' : {'class' : 'select2'}}  ) }}
        </div>
    </div>

    <div class="foot">
        {#<a href="{{ path('offres_new') }}" class="btn btn-primary btn-lg square" role="button">Publier une nouvelle offre</a>#}
        {{ form_row(form.submit, {attr : {class : 'btn btn-primary btn-lg square'}}) }}
    </div>

    {{ form_end(form) }}
</div>